<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebSite Crash Checker</title>
    
  </head>
  <body>
    <div class="center-block text-center">
      <h1 class="text-danger">WebSite Crash Checker</h1>
      <h4>ウェブサイトが落ちてないかをチェックするサイトです</h4>
    <table class="table">
      <thead>
          <tr >
              <th >URL</th>
              <th >Status</th>
          </tr>
      </thead>
      <tbody>
          {% for resUrl , resStatus in data %}
          <tr>
              <td><a href={{ resUrl }}>{{ resUrl }}</a></td>
              {% if resStatus == 200 %}
              <td class="text-success">OK</td>
              {% else %}
              <td class="text-danger">Down</td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <form action="/" method="POST" enctype="multipart/form-data">
    <input type="text"  id="name" name="name">
    <input type="submit" value="URLを送信">
  </form>
    </div>
  </body>
</html>